<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.2.43</MSDeployServiceURL>
    <DeployIisAppPath>EmployeeSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CompanyDataContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-UMK75NT\LOCALHOST;Initial Catalog=CompanyDB;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CompanyCard.Models.CompanyDataContainer, CompanyCard" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CompanyDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=DESKTOP-UMK75NT\LOCALHOST;Initial Catalog=CompanyDB;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-UMK75NT\LOCALHOST;Initial Catalog=CompanyDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CompanyDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Logins.csdl|res://*/Models.Logins.ssdl|res://*/Models.Logins.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UMK75NT\LOCALHOST;initial catalog=CompanyDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CompanyDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Logins.csdl|res://*/Models.Logins.ssdl|res://*/Models.Logins.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-UMK75NT\LOCALHOST;initial catalog=CompanyDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CompanyDataContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CompanyData.csdl|res://*/Models.CompanyData.ssdl|res://*/Models.CompanyData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-UMK75NT\LOCALHOST;Initial Catalog=CompanyDB;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>